<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    

<iframe src="" frameborder="0"></iframe>
<!--     
    <div id="app">
        <input type="text" v-model="newPageName">
        <button v-on:click="createPage">Создать машину</button>

        <div v-for="page in pageList">
            <h1>{{ page }} <a href="#" v-on:click="deletePage(page)">(X)</a></h1>
        </div>
    </div> -->

    <div id="app">
        <div class="panel">
            <button class="uk-button uk-button-primary" uk-toggle="target: #modal-save">Опубликовать</button>
        </div>
        <!-- /.panel -->
        <div id="modal-save" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Публикация</h2>
                <p>Вы действительно хотите сохранить и опубликовать страницу?</p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="onBtnSave">Опубликовать</button>
                </p>
            </div>
        </div>
        <div class="loader" v-bind:class="{ 'active': showLoader }">
            <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
        </div>
    </div>
    <!-- /.app -->

    <script src="bundle.js"></script>
</body>
</html>